.features__text-center {
  font-family: graphik, sans-serif;
  text-align: center;
  margin-top: 130px;
  margin-left: 310px;
  margin-right: 310px;

  .features__text-center-title {
    font-size: 48px;
    margin-bottom: 30px;
    color: var(--text-color-primary);
  }

  .features__text-center-description {
    font-size: 28px;
    margin-bottom: 50px;
    color: var(--text-color-secondary);
    margin-left: 100px;
    margin-right: 100px;
  }
}
.features__text-row {
  font-family: graphik, sans-serif;
  display: flex;
  justify-content: center;
  gap: 60px;
  text-align: center;
  margin-top: 110px;
  margin-left: 310px;
  margin-right: 310px;

  .features__text-row-fonts {
    width: 440px;

    .features__text-row-fonts-icon {
      margin-bottom: 30px;
    }

    .features__text-row-fonts-title {
      font-size: 20px;
      margin-bottom: 20px;
      color: var(--text-color-primary);
    }

    .features__text-row-fonts-description {
      font-size: 18px;
      color: var(--text-color-secondary);
    }
  }

  .features__text-row-design {
    width: 440px;

    .features__text-row-design-icon {
      margin-bottom: 30px;
    }

    .features__text-row-design-title {
      font-size: 20px;
      margin-bottom: 20px;
      color: var(--text-color-primary);
    }

    .features__text-row-design-description {
      font-size: 18px;
      color: var(--text-color-secondary);
    }
  }

  .features__text-row-fastest {
    width: 440px;

    .features__text-row-fastest-icon {
      margin-bottom: 30px;
    }

    .features__text-row-fastest-title {
      font-size: 20px;
      margin-bottom: 20px;
      color: var(--text-color-primary);
    }

    .features__text-row-fastest-description {
      font-size: 18px;
      color: var(--text-color-secondary);
    }
  }
}

.features__video-screen {
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}
