.fastest {
  font-family: graphik, sans-serif;
  display: flex;
  justify-content: center;
  margin-left: 230px;
  margin-right: 230px;
  margin-bottom: 110px;
  gap: 60px;

  .fastest__text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .fastest__text-title {
      color: var(--text-color-primary);
      font-size: 48px;
      margin-bottom: 30px;
    }

    .fastest__text-description {
      color: var(--text-color-secondary);
      font-size: 28px;
      margin-bottom: 40px;
    }

    .fastest__text-button {
      font-family: graphik, sans-serif;
      font-size: 20px;
      color: var(--text-color-light);
      background-color: var(--accent-color);
      border: none;
      padding: 15px 30px;
      border-radius: 50px;
      cursor: pointer;
      height: 52px;
      width: 236px;
    }
  }

  .fastest__svg-content {
    width: 500px;
    height: 300px;
    display: block;
  }
}