<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business Landing Page</title>
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="stylesheet" href="css/index.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header.hero.partial.html"
      ></nav>
    </header>
    <main class="main">
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-features.partial.html"
      ></div>

      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-fastest-way.partial.html"
      ></div>

      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-lightning-fast-prototyping.partial.html"
      ></div>

      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-partners.partial.html"
      ></div>

      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-testimonials.partial.html"
      ></div>

      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-pricing.partial.html"
      ></div>

      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-contacts.partial.html"
      ></div>
    </main>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
  </body>
</html>
